NODE_ENV=production
PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
REDIS_URL=redis://redis.todo-app.svc.cluster.local:6379
CLIENT_URL=http://<ingress-or-elb-host>
FRONTEND_URL=http://<ingress-or-elb-host>
JWT_ACCESS_SECRET=replace-with-strong-secret
JWT_REFRESH_SECRET=replace-with-strong-secret
GOOGLE_CLIENT_ID=replace-me
GOOGLE_CLIENT_SECRET=replace-me
GOOGLE_CALLBACK_URL=http://<ingress-or-elb-host>/api/auth/google/callback
